<style>
    .hide
    {
        display:none;
    },
    .jsgrid-pager-container {
        display: block !important;
    }
</style>

<script>

    var DATE_FORMAT = 'DD MM dd, yy';

    $( document ).ready(function() {

	events = [
				{
					title: 'Click for Google',
					url: 'http://google.com/',
					start: '2017-09-01',
					color: 'red'
				}
            ];

	$('#calendar').fullCalendar({
        // put your options and callbacks here

           header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            events: [
            	{{#each events}}
            	{
            		title: '{{this.who}}',
	            	start: '{{this.start_dt}}',
	            	end: '{{this.end_dt}}'
            	},
            	{{/each}}
            ]


    });

	var event2 = {
					title: 'Click for Boogle',
					url: 'http://google.com/',
					start: '2017-09-02',
					color: 'red'

	};

	$('#calendar').fullCalendar( 'renderEvent', event2, true);
	$('#calendar_section').hide();

	var eventsJSON = $('#events').val();
	var currentUserName = $('#currentUserName').val();
	var currentUserEmail = $('#currentUserEmail').val();

	var eventsMsg = JSON.parse(unescapeHtml(eventsJSON));
	for (var i = eventsMsg.length - 1; i >= 0; i--) {
		var event = eventsMsg[i];

		var id = event.id;
		var requestor = event.who;
		var buttonId = '#btn_' + id;
		var coveringEventIds = splitValues($('#coveringEventIds').val());
		var coverageLabel =  $('#status_' + id);
		if( event.coverage === undefined ) {
            coverageLabel.text("Not covered");
            coverageLabel.addClass('label-not-covered');
		} else {
            coverageLabel.text("Covered");
            coverageLabel.addClass('label-covered');
		}

		var requestDetails = JSON.parse(event.notes);

		if( requestDetails.requestor.email === currentUserEmail ) {
			$(buttonId).text('Delete request');
			$(buttonId).click(function() {
				$('#delform_eventId').val(this.id.substring(4))
				$('form#deleteForm').submit();
			});
		} else if( $.inArray(id, coveringEventIds) >= 0 ) {
			$('#status_' + id).text("I am covering");
			$(buttonId).text('I can no longer cover');

			$(buttonId).click(function() {
				$('#removecover_eventId').val(this.id.substring(4));
				$('#removecover_userEmail').val(currentUserEmail);
				$('#removecover_userName').val(currentUserName);

				$('form#removeCoverage').submit();
			});

		} else {
			$(buttonId).text('I will Cover');
			$(buttonId).click(function() {
				$('#offercover_eventId').val(this.id.substring(4));
				$('#offercover_userEmail').val(currentUserEmail);
				$('#offercover_userName').val(currentUserName);

				$('form#offerCoverage').submit();
			});
		}
	}

	var roles = [
        { Name: "Assistant", Id: 0},
        { Name: "Driver", Id: 1},
        { Name: "EMT", Id: 2},
        { Name: "Crew Chief", Id: 3},
        { Name: "Any", Id: 4}
    ];

    $("#jsGrid").jsGrid({
        width: "95%",
        height: "400px",

        editing: true,
        sorting: true,
        autoload: true,
        paging: true,
        pageSize: 15,
        pageButtonCount: 5,
        pagerContainer: "#externalPager",
        pagerFormat: "current page: {pageIndex} &nbsp;&nbsp; {first} {prev} {pages} {next} {last} &nbsp;&nbsp; total pages: {pageCount}",
        pagePrevText: "<",
        pageNextText: ">",
        pageFirstText: "<<",
        pageLastText: ">>",
        pageNavigatorNextText: "&#8230;",
        pageNavigatorPrevText: "&#8230;",

        deleteConfirm: function(item) {
            return "The client \"" + item.Name + "\" will be removed. Are you sure?";
        },
        rowClick: function(args) {

        },

//        rowClick: function(args) {
//            showDetailsDialog("Edit", args.item);
//        },

        controller: {
            loadData: function(filter) {
                return $.ajax({
                    type: "GET",
                    url: "/coveragedata",
                    data: filter
                });
            },
            insertItem: function(item) {
                return $.ajax({
                    type: "POST",
                    url: "/coveragedata",
                    data: item
                });
            },
            updateItem: function(item) {
                return $.ajax({
                    type: "PUT",
                    url: "/coveragedata",
                    data: item
                });
            },
            deleteItem: function(item) {
                return $.ajax({
                    type: "DELETE",
                    url: "/coveragedata",
                    data: item
                });
            }
        },

        fields: [
            { name: "covered_by", css: "hide"},
            { title: "Requester",       name: "requester",          type: "text",   editing: false, align: "left", width: 190},
            { title: "Request Status",  name: "coverage_status",    type: "text",   editing: false, align: "left", width: 75 },
            { title: "Covered By",      name: "covered_by",         type: "text",   editing: false, align: "left", width: 190 },
            { title: "Role",            name: "req_role",           type: "select",                 align: "left", width: 50,
                items: roles, valueField: "Id", textField: "Name" },
            { title: "Start Date",      name: "start_dt",           type: "text",   editing: false, align: "left", width: 55 },
            { title: "Start Time",      name: "start_t",            type: "text",   editing: false, align: "left", width: 25 },
            { title: "End Date",        name: "end_dt",             type: "text",   editing: false, align: "left", width: 55 },
            { title: "End Time",        name: "end_t",              type: "text",   editing: false, align: "left", width: 25 },
            { title: "Action",
                itemTemplate: function(_, item) {
                    var button_txt = "Offer Coverage";
                    if( item.covered_by === '{{user.displayname}}' ) {
                        button_txt = "Remove Coverage";
                    } else if( item.requester === '{{user.displayname}}') {
                        button_txt = "Delete Request";
                    }
                    return $("<button class='pure-button pure-button-primary'>").text(button_txt)
                            .on("click", function() {
                                alert(item.requester);
                            });
                }
            }
        ]
    });

    var submitHandler;

    $('#dia_start_date').datepicker({defaultDate: new Date(), dateFormat: DATE_FORMAT});
    $('#dia_end_date').datepicker({defaultDate: new Date(), dateFormat: DATE_FORMAT});

    var dialog = $("#dialog-form").dialog({
        autoOpen: false,
        width: 600,
        modal: true,
        closeOnEscape: true,
        buttons: {
            Save: function() {
                $("#coverageForm").submit();
            },
            Cancel: function() {
                $(this).dialog("close");
            }
        },
        close: function() {
            dialog.find("form")[0].reset();
        }
    });

    dialog.find("form").submit(function(e) {
        e.preventDefault();
        submitHandler();
    });

    function showDetailsDialog(dialogType, coverage_request) {
        submitHandler = function(event) {
            //if($("#categoryForm").valid()) {
            saveClient(category, dialogType === "Add");
            //}
        };

        $('#dia_start_dt').val(coverage_request.start_dt);
        $('#dia_start_time').val(coverage_request.start_t);
        $('#dia_end_dt').val(coverage_request.end_dt);
        $('#dia_end_time').val(coverage_request.end_t);
        $('#dia_coverageType').val(coverage_request.coverageType);

        dialog.dialog("option", "title", dialogType + " coverage request").dialog("open");
    };

    var saveClient = function(category, isNew) {
        $.extend(category, {
            code_cat: $("#code_cat").val(),
            descr_fra: $("#descr_fra").val(),
            descr_eng: $("#descr_eng").val(),
            descr_deu: $("#descr_deu").val()
        });
        console.dir(category);
        $("#jsGrid").jsGrid(isNew ? "insertItem" : "updateItem", category);

        dialog.dialog("close");
    };
});

function splitValues(val) {
	if( val === undefined || val.length === 0 ) {
		return [];
	} else {
		return val.split(',');
	}
}

function unescapeHtml(safe) {
    return safe
         .replace("&amp;", /&/g)
         .replace("&lt;", /</g)
         .replace( "&gt;", />/g)
         .replace("&quot;", /"/g)
         .replace("&#039;", /'/g);
 }

function toggleCalendar() {
	$('#no_calendar').toggle();
	$('#calendar_section').toggle();
}

</script>

<div id="dialog-form" title="Coverage Request" class="pure-form pure-form-aligned">
    <form id="coverageForm">
        <fieldset>
            <div class="pure-control-group">
                <label>Requester</label><label>{{user.displayname}}</label>
            </div>
            <div class="pure-control-group">
                <label for="dia_start_dt">Start Date</label><input id="dia_start_dt" />
            </div>
            <div class="pure-control-group">
                <label>Start Time</label><input id="dia_start_time"/>
                <button>AM Shift</button><button>PM Shift</button>
            </div>
            <div class="pure-control-group">
                <label>End Date</label><input id="dia_end_dt" />
            </div>
            <div class="pure-control-group">
                <label>End Time</label><input id="dia_end_time"/>
            </div>
            <div class="pure-control-group">
                <label>Coverage Type</label>
                <select id='dia_coverageType' name='coverageType'>
                    <option value="Assistant">Assistant</option>
                    <option value="Driver">Driver</option>
                    <option value="EMT">EMT</option>
                    <option value="Crew Chief">Crew Chief</option>
                    <option value="Any">Any</option>
                </select>
            </div>
        </fieldset>
    </form>
</div>


<input id="username" type="hidden" value="{{user.username}}" />
<input id="allEvents" type="hidden" value="{{origBody}}" />
<input id='currentUserName' type="hidden" value="{{user.displayname}}" />
<input id='currentUserEmail' type='hidden' value="{{user.email}}" />
<input id='coveringEventIds' type="hidden" value="{{coveringEventIds}}" />
<input id='events' type="hidden" value='{{eventText}}' />

</div>

<!--
<div id="no_calendar">
	<button onClick="toggleCalendar();">Show Calendar</button>
</div>
<div id='calendar_section' style="padding:40px;border:1px;">
	<button onClick="toggleCalendar();">Hide Calendar</button>
	<div id='calendar'></div>
</div>
-->

<div style="width:100%;text-align: center;margin-top:20px;">
    <form action="/requestcoverage" method="get">
        <button class='pure-button pure-button-primary' type="submit">Create Coverage Request</button>
    </form>
    <div style="margin: 0 auto;" id="jsGrid"></div>
</div>
 
<form action="/deleteEvent" id='deleteForm' method="post">
	<input type="hidden" id="delform_eventId" name='eventId' />
</form>

<form action="/offerCoverage" id="offerCoverage" method="post">
	<input type="hidden" id="offercover_eventId" name='eventId' />
	<input type="hidden" id="offercover_userEmail" name="userEmail" />
	<input type="hidden" id="offercover_userName" name='userName' />
</form>

<form action="/removeCoverage" id="removeCoverage" method="post">
	<input type="hidden" id="removecover_eventId" name='eventId' />
	<input type="hidden" id="removecover_userEmail" name="userEmail" />
	<input type="hidden" id="removecover_userName" name='userName' />
</form>


<div style="margin-top:10px;margin-left:20px;">
    <form action="/requestcoverage" method="get">
        <button class='pure-button pure-button-primary' type="submit">Create Coverage Request</button>
    </form>
</div>


<link href='/fullcalendar-3.5.1/fullcalendar.min.css' rel='stylesheet' />
<link href='/fullcalendar-3.5.1/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<script src='/fullcalendar-3.5.1/lib/moment.min.js'></script>
<script src='/fullcalendar-3.5.1/lib/jquery.min.js'></script>
<script src='/fullcalendar-3.5.1/fullcalendar.min.js'></script>

<script src="/jsgrid-1.5.3/jsgrid.js"></script>
<link rel="stylesheet" type="text/css" href="/jsgrid-1.5.3/jsgrid-theme.css"></link>
<link rel="stylesheet" type="text/css" href="/jsgrid-1.5.3/jsgrid.css"></link>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/redmond/jquery-ui.css"></link>
